section.cta
    .cta__container
        .cta__wrapper
            .cta__caption
                h2.cta__title Sharp. Nimble. Personal.
                .cta__description
                    p.cta-desc__text.cta-desc__text-1.
                        The Narrative BI team was founded by a diverse group of tech entrepreneurs from across the globe including California, New York, and Europe.
                    p.cta-desc__text.cta-desc__text-2.
                        We have founded successful startups that have been acquired by SP 500 companies. Our team has experience deploying modern SaaS solutions on an enterprise level to the largest companies in the world.
                    p.cta-desc__text.cta-desc__text-3.
                        We believe in a personal touch, with flexibility to handle any use-case or challenge your business presents to us. Our goal is to win your business through an effortless approach to BI with a personal touch.
                    p.cta-desc__text.cta-desc__text-4.
                        At Narrative BI, we put our product, clients and culture first.
            form(action="").cta__form
                .cta-form__text
                    h3.cta-form__title Would you like to see Narrative BI in action? 
                    p.cta-form__description.
                        Leave your email address to discuss how your company can get first actionable insights today 
                    .cta-form-block
                        input(type="email" placeholder="Enter your work email address").cta-form__input
                        button(type="submit").cta-form__btn Get a demo
                .cta-form__image
                    img(src="./img/cta/cta-img.png", alt="cta")