section.examples
    .examples__container
        .examples__wrapper
            .examples__content
                h2.examples-content__title Narrative BI creates a unique way for users to interact with their Data.
                p.examples-content__description.
                    Users can intuitively pull data from multiple data sources, discover hidden trends, and share insights with your team.
                a(href="#!").examples-content__link See how it works
            .examples__image
                img(src="./img/examples/examples-img-addition.png", alt="Item")