footer.footer
    .footer__container
        .footer__wrapper
            form(action="").footer__form
                .footer-form__text
                    h3.footer-text__title Would you like to see Narrative BI in action?
                    p.footer-text__desc.
                        Leave your email address to discuss how your company can get first actionable insights today 
                    .footer-form__input
                        input(type="email" placeholder="Enter your work email adress").footer-form-input__field
                        button(type="submit").footer-form-input__button Get a demo
                .footer-form__picture
                    img(src="./img/cta/cta-img.png", alt="cta")
            .footer__media
                .footer-media__link
                    a(href="#!").footer__logo
                        img(src="./img/header/logo.svg", alt="Logo")
                    .footer__list
                        a(href="#!").footer__item Linkedin 
                        a(href="#!").footer__item Twitter
                .footer__copyright
                    | © 2020 Narrative BI, Inc.
                    span Terms &amp; Privacy 
                .footer__cta
                    span Within your data lies a story, let Narrative BI tell it.
                    a(href="#!").footer-cta__btn Get a Demo 