section.home
    .home__wrapper
        .home__container
            .home__content
                .home-content__text
                    h1.home__title Meaningful Insights Without the Click of a Button.
                    p.home__description.
                        Narrative BI is a new user-friendly tool that uses proprietary anomaly detection technology to bring meaningful insights to the user without a single click.
                form.home__form
                    input(type="email" placeholder="Enter your work email address").home-form__input
                    button(type="submit").home-form__btn Get a demo
            .home__image
                img(src="./img/home/home-image-addition.png", alt="Home addition")
                