.cta
    position: relative
    &__container
        padding-top: 110px
        padding-bottom: 282px
        @media screen and ( max-width: 1299px )
            padding: 110px 30px 282px 30px
        @media screen and ( max-width: 599px )
            padding-bottom: 140px
    &__wrapper
        display: flex
        flex-direction: column
        align-items: flex-start
        row-gap: 100px
        @media screen and ( max-width: 1299px )
            align-items: center
            text-align: center
    &__caption
        display: flex
        flex-direction: column
        row-gap: 22px
        .cta__title
            color: var(--main)
            font-size: 40px
            font-family: var(--accent-font)
            font-weight: 700
            line-height: 56px
            @media screen and ( max-width: 599px )
                font-size: 28px
            @media screen and ( max-width: 399px )
                font-size: 22px
            @media screen and ( max-width: 299px )
                font-size: 18px
                line-height: 46px
        .cta__description
            display: flex
            flex-direction: column
            max-width: 737px
            .cta-desc__text
                color: var(--main)
                font-family: var(--main-font)
                font-size: 20px
                font-weight: 400
                line-height: 40px
                @media screen and ( max-width: 1299px )
                    font-size: 16px
                @media screen and ( max-width: 599px )
                    font-size: 12px
                    line-height: 32px
                @media screen and ( max-width: 399px )
                    font-size: 8px
                    line-height: 26px
            .cta-desc__text-4
                margin-top: 20px